@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #3C486B;
}

h1{
    margin-top: 20px;
    padding: 0;
    text-align: center;
    font-size: 50px;
    color: #F0F0F0;
    font-family: "Jersey 15", sans-serif;
}

.container{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    border-radius: 15px;
    background-color: #272829;
    padding: 10px;
}

.display{
    color: #FFF6E0;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #FFF6E0;
    margin: 10px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.calculation{
    height: 25px;
    font-size: 25px;
}

.result{
    font-size: 50px;
    margin-top: 10px;
}

.content{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
}

.row{
    display: flex;
    gap: 5px;
}

button{
    background-color: #D8D9DA;
    flex-grow: 1;
    flex-shrink: 0;
    height: 50px;
    width: 85px;
    border-radius: 5px;
    font-size: 20px;
}

button:hover{
    background-color: #61677A;
}

.dark-btn{
    background-color: #61677A;
}

.dark-btn:hover{
    background-color: #D8D9DA;
}

#zero{
    width: 175px;
    flex-grow: 2;
}

#evaluate{
    background-color: #34B3F1;
}

#evaluate:hover{
    background-color: #5463FF;
}